torch==1.6
torchvision==0.7.0
emoji==2.0.0
tqdm==4.64.0
yacs==0.1.8
numpy==1.23.0
easydict==1.9
matplotlib
scipy
cython
sklearn
scikit-learn
scikit-image
tensorboard
tensorboardX
prettytable
opencv-python

